/*Main page, background, dark/light mode*/
.main-page {
    width: 100vw;
    min-height: 100vh;
}
.light {
    background: #a2bee8;
}
.dark {
    background: #181818;
}

/*Navigation bar*/
.search-bar {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-bar input {
    padding: 6px;
    background: transparent;
    border: #242424;
    outline:#242424;
    color: #575757;
    font-size: 18px;
}
.search-bar input::placeholder {
    color: #787878;
}
.search-bar img {
    width: 20px;
    cursor: pointer;
}
.toggle-icon {
    width: 35px;
    margin: 30px;
}
.nav-item {
    font-size: 24px;
    padding: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.toggle-light-dark {
    cursor: pointer;
}

/*Grid cards*/
.col-2 {
    min-width: 200px;
    min-height: 275px;
}
.card {
    min-height: 100%;
    min-width: 100%;
}
.card-light {
    background-color:whitesmoke !important;
}
.card-dark {
    background-color:#a2bee8 !important;
}
.card-title-dark {
    color: #181818 !important;
}
.card-title-dark {
    color: whitesmoke !important;
}

.card img {
    width: 100%
}
.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body a {
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    color:#181818;
}
.card-title {
    text-align: center;
    margin-bottom: 0 !important;
    justify-content: center;
}

.genre-list {
    border: 1px solid blue;
}
.genre-list-group {
    border: 1px solid red;
}
