/*Main page, background*/
.main-page {
    background-image: url('G:\Projects\offlinetflix-client\src\assets\web\background-image.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
html, body, #root {
    height: 100%;
}

/*Navigation bar*/
.container-fluid {
    height: 50px;
}
.navbar-accent {
    background: #a2bee8 !important;
}
.navbar-brand {
    width: 265px;
}
.navbar-brand img {
    width: 100%;
    height: 100%;
}
.search-icon {
    width: 20px;
}
.nav-item a {
    color: #181818;
    text-decoration: none;
    font-family:"Bebas Neue", sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.nav-item a:hover {
    color: whitesmoke;
}

/*Hero*/
.hero h1 {
    color: whitesmoke;
    font-family: "Bebas Neue", sans-serif;
}
.hero p {
    color: whitesmoke;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 500;
    font-size: 7em;
    text-align: left;
}
.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}
.carousel-gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, black 5%, transparent);
    position: absolute;
}
.carousel-label {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/*Home Page*/
.browse-by a, h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    color: whitesmoke;
    text-decoration: none;
    
}
.browse-by a:hover {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    color: #a2bee8;
}
.index {
    background-color:#a2bee8;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Gets rid of the weird space below the text */
    margin-bottom: 0 !important;
    /* Aligns the text when display size is reduced */
}
.index:hover {
    background: #3f6aab;
}
.index a {
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    color:#181818;
}
.index a:hover {
    color: whitesmoke;
    transition: 0.2s;
}
.card-popover {
    --bs-popover-border-color: #3f6aab;
    --bs-popover-header-bg: #3f6aab;
    --bs-popover-header-color: whitesmoke;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: 1rem;
}
.accordion-item a {
    text-decoration: none;
}
.card-popover h6 {
    font-family: "Bebas Neue", sans-serif;
    color:#3f6aab;
}
.accordion-body a {
    font-family: "Bebas Neue", sans-serif;
    color:#3f6aab;
}
.accordion-body a:hover {
    color:#181818;
}

/*Error Page*/
.error-page {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/*Watch Page*/
.film-page {
    width: 100vw;
}
.card-body a + a {
    margin: 10px;
}
.panel-wrapper {
    background-color: #181818;
    font-family: "Bebas Neue", sans-serif;
    color: whitesmoke;
    padding: 0;
}
.genre-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 160%;
}
.genre-container a {
    text-decoration: none;
    font-size: .75em;
}

/*Test Container*/
.test-container {
    border: 5px solid red;
    padding: 5px;
}
.test-container span + span {
    margin-left: 10px;
}