/*Main page, background*/
* {
    font-family:"Bebas Neue", sans-serif;
    color: whitesmoke;
}
.main-page {
    background-image: url('G:\Projects\offlinetflix-client\src\assets\web\background-image.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
html, body, #root {
    height: 100%;
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}

/*Navigation bar*/
.container-fluid {
    height: 50px;
}
.navbar-accent {
    background: #a2bee8 !important;
}
.navbar-brand {
    width: 265px;
}
.navbar-brand img {
    width: 100%;
    height: 100%;
}
.search-icon {
    width: 20px;
}
.nav-item a {
    color: #181818;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}
.nav-item a:hover {
    color: whitesmoke;
}

/*Hero*/
#hero {
    margin: 0px;
}
.hero {
    height: 600px;
}
.carousel {
    padding: 0px;
    margin: 0;
}
.carousel-gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, black 1%, transparent);
    position: absolute;
}

.carousel-description {
    margin: 0;
    background-color: #181818;
    opacity: 90%;
    height: 100%;
}

.carousel-film-name-link {
    font-size: 2em;
}
.carousel-description a {
    color: whitesmoke;
    text-decoration: none;
}
.carousel-description a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

.carousel-film-synopsis p {
    font-family: "Roboto", sans-serif;
    font-size: 0.8em;
}

.carousel-film-lists {
    height: 70%;
}
.carousel-description ul {
    list-style-type: none;
    margin: 3px 0;
    padding: 0;
}
.carousel-film-genres, .carousel-film-stars {
    height: 80%;
}
.star-list {
    height: 80%;
    overflow: auto;
}
.star-list a {
    font-family: "Roboto", sans-serif;
    font-size: 0.8em;
    overflow: auto;
}


/*Home Page*/
.browse-by a {
    font-size: 2em;
    color: whitesmoke;
    text-decoration: none;
    
}
.browse-by a:hover {
    font-size: 2em;
    text-decoration: underline;
}
.index {
    background-color:#a2bee8;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Gets rid of the weird space below the text */
    margin-bottom: 0 !important;
    /* Aligns the text when display size is reduced */
}
.index:hover {
    background: #3f6aab;
}
.index a {
    text-decoration: none;
    color:#181818;
}
.index a:hover {
    color: whitesmoke;
    transition: 0.2s;
}
.card-popover {
    --bs-popover-border-color: #3f6aab;
    --bs-popover-header-bg: #3f6aab;
    --bs-popover-header-color: whitesmoke;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: 1rem;
}
.accordion-item a {
    text-decoration: none;
}
.card-popover h6 {
    color:#3f6aab;
}
.accordion-body {
    font-family: "Roboto", sans-serif;
    font-size: 0.85em;
    color: #181818;
}
.accordion-body a {
    font-size: 1.25em;
    color:#3f6aab;
}
.accordion-body a:hover {
    color:#181818;
}

/*Error Page*/
.error-page {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color:#181818;
}
.error-page p {
    color: #181818;
}

/*Watch Page*/
#film-page {
    margin: 0px;
    width: 100%;
}
.panel-wrapper {
    width: 98.5%;
    background-color: #181818;
}
.panel-wrapper p {
    font-family: Helvetica, sans-serif;
    font-size: 0.9em;
}
.panel-wrapper a + a {
    margin-bottom: 5px;
    margin-left: 10px;
}
.genre-star-container ul {
    padding: 0;
}
.genre-star-container a {
    text-decoration: none;
    font-size: .9em;
}